DefenderIncidentTeamsNotifier_SentinelPlaybook_ARM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "DefenderIncidentTeamsNotifier - Sentinel Playbook",
    "description": "Microsoft Sentinel のオートメーションルールから起動され、Security Copilot の DefenderIncidentTeamsNotifier Agent を呼び出す Logic App (Playbook)。インシデント作成/更新時に自動的にエージェントを起動し、Teams へ Adaptive Card 通知を行う。",
    "prerequisites": [
      "Security Copilot ワークスペース（SCU 容量プロビジョニング済み）",
      "DefenderIncidentTeamsNotifier プラグインが Security Copilot にデプロイ済み",
      "Microsoft Sentinel が有効化された Log Analytics ワークスペース"
    ]
  },
  "parameters": {
    "playbookName": {
      "type": "string",
      "defaultValue": "Playbook_DefenderIncidentTeamsNotifier",
      "metadata": {
        "description": "Sentinel Playbook（Logic App）のリソース名"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "デプロイ先リージョン"
      }
    },
    "securityCopilotConnectionName": {
      "type": "string",
      "defaultValue": "securitycopilot",
      "metadata": {
        "description": "Security Copilot API 接続の名前"
      }
    },
    "azureSentinelConnectionName": {
      "type": "string",
      "defaultValue": "azuresentinel",
      "metadata": {
        "description": "Microsoft Sentinel API 接続の名前"
      }
    },
    "agentId": {
      "type": "string",
      "metadata": {
        "description": "Security Copilot にデプロイされた DefenderIncidentTeamsNotifier Agent の ID (GUID)。Security Copilot ポータルのエージェント詳細から取得する。"
      }
    }
  },
  "variables": {
    "securityCopilotConnectionId": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/securitycopilot')]",
    "azureSentinelConnectionId": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('securityCopilotConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Security Copilot",
        "api": {
          "id": "[variables('securityCopilotConnectionId')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Sentinel",
        "api": {
          "id": "[variables('azureSentinelConnectionId')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('playbookName')]",
      "location": "[parameters('location')]",
      "tags": {
        "hidden-SentinelTemplateName": "DefenderIncidentTeamsNotifier",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('securityCopilotConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "agentId": {
              "type": "String",
              "defaultValue": ""
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Execute_a_Security_Copilot_Agent": {
              "type": "ApiConnection",
              "runAfter": {},
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "Inputs": {
                    "DefenderIncidentNumber": "@triggerBody()?['object']?['properties']?['providerIncidentId']"
                  }
                },
                "path": "/agents/@{encodeURIComponent(parameters('agentId'))}/triggers/@{encodeURIComponent('Default')}/execute"
              }
            },
            "Add_Comment_to_Incident": {
              "type": "ApiConnection",
              "runAfter": {
                "Execute_a_Security_Copilot_Agent": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>Security Copilot Agent 処理完了</strong><br>DefenderIncidentTeamsNotifier Agent による Teams 通知が実行されました。</p>"
                }
              }
            },
            "Add_Comment_on_Failure": {
              "type": "ApiConnection",
              "runAfter": {
                "Execute_a_Security_Copilot_Agent": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>Security Copilot Agent エラー</strong><br>DefenderIncidentTeamsNotifier Agent の実行に失敗しました。<br>エラー: @{actions('Execute_a_Security_Copilot_Agent')?.error?.message}</p>"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "securitycopilot": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('securityCopilotConnectionName'))]",
                "connectionName": "[parameters('securityCopilotConnectionName')]",
                "id": "[variables('securityCopilotConnectionId')]"
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureSentinelConnectionName'))]",
                "connectionName": "[parameters('azureSentinelConnectionName')]",
                "id": "[variables('azureSentinelConnectionId')]"
              }
            }
          },
          "agentId": {
            "value": "[parameters('agentId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "playbookName": {
      "type": "string",
      "value": "[parameters('playbookName')]"
    },
    "playbookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('playbookName'))]"
    },
    "managedIdentityObjectId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('playbookName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
