DefenderIncidentTeamsNotifier_LogicApp_ARM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "PluginLogicApp_DefenderIncidentTeamsNotifier",
      "metadata": {
        "description": "Logic App リソース名"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "デプロイ先リージョン"
      }
    },
    "teamsConnectionName": {
      "type": "string",
      "defaultValue": "teams",
      "metadata": {
        "description": "Microsoft Teams API 接続の名前"
      }
    },
    "teamsGroupId": {
      "type": "string",
      "metadata": {
        "description": "通知先 Microsoft Teams チームのグループ ID (GUID)"
      }
    },
    "teamsChannelId": {
      "type": "string",
      "metadata": {
        "description": "通知先 Microsoft Teams チャンネルの ID"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('teamsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Microsoft Teams",
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/teams')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('teamsConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "teamsGroupId": {
              "type": "String",
              "defaultValue": ""
            },
            "teamsChannelId": {
              "type": "String",
              "defaultValue": ""
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "type": "object",
                  "properties": {
                    "AdaptiveCardJson": {
                      "type": "string",
                      "description": "Teams に投稿する Adaptive Card JSON 文字列"
                    },
                    "IncidentTitle": {
                      "type": "string",
                      "description": "インシデントタイトル（ログ・件名用）"
                    }
                  },
                  "required": [
                    "IncidentTitle"
                  ]
                }
              }
            }
          },
          "actions": {
            "Parse_JSON": {
              "type": "ParseJson",
              "runAfter": {},
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "AdaptiveCardJson": {
                      "type": "string"
                    },
                    "IncidentTitle": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "IncidentTitle"
                  ]
                }
              }
            },
            "Check_AdaptiveCard_Valid": {
              "type": "If",
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@{body('Parse_JSON')?['AdaptiveCardJson']}",
                        ""
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@{body('Parse_JSON')?['AdaptiveCardJson']}",
                        null
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Post_Adaptive_Card_to_Teams": {
                  "type": "ApiConnection",
                  "runAfter": {},
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['teams']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "recipient": {
                        "groupId": "@parameters('teamsGroupId')",
                        "channelId": "@parameters('teamsChannelId')"
                      },
                      "messageBody": "@body('Parse_JSON')?['AdaptiveCardJson']",
                      "updateMessage": "Microsoft Defender インシデント通知"
                    },
                    "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                  }
                },
                "Response_Success": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Post_Adaptive_Card_to_Teams": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "success",
                      "message": "Adaptive Card を Teams チャンネルに送信しました。",
                      "incidentTitle": "@body('Parse_JSON')?['IncidentTitle']"
                    }
                  }
                },
                "Response_Failure": {
                  "type": "Response",
                  "kind": "Http",
                  "runAfter": {
                    "Post_Adaptive_Card_to_Teams": [
                      "Failed",
                      "TimedOut"
                    ]
                  },
                  "inputs": {
                    "statusCode": 500,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "error",
                      "message": "Teams への Adaptive Card 送信に失敗しました。",
                      "incidentTitle": "@body('Parse_JSON')?['IncidentTitle']",
                      "errorDetails": "@actions('Post_Adaptive_Card_to_Teams')?.error"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Response_Skipped": {
                    "type": "Response",
                    "kind": "Http",
                    "runAfter": {},
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "status": "skipped",
                        "message": "AdaptiveCardJson が空または未指定のため、Teams 通知をスキップしました。",
                        "incidentTitle": "@body('Parse_JSON')?['IncidentTitle']"
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('teamsConnectionName'))]",
                "connectionName": "[parameters('teamsConnectionName')]",
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/teams')]"
              }
            }
          },
          "teamsGroupId": {
            "value": "[parameters('teamsGroupId')]"
          },
          "teamsChannelId": {
            "value": "[parameters('teamsChannelId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppTriggerUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'manual'), '2019-05-01').value]"
    }
  }
}
